marquee{
    font-size: 2em;
    font-weight: 200;
    color: #bf4242;
    font-family: sans-serif;
}
img {
    max-width: 35%;
}

section,img {
    text-align: center;
    max-width: 75%;
    max-height: 400px;
    font-family: "Audiowide", sans-serif;
}

body{
    margin: 0 auto;
    background-color: #dfff7f;

}
main{
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    color: #4253bf;

}

header, footer {
    max-width: 90%;
    max-height: 90%;
    background-color: #ee90ec;
    padding: 2%;
    margin: 2%;
}
a,div {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: #4253bf;
}
input,textarea {
    background-color: gold;
    display: block;
    width: 1250px;

}
h1 {
    background-color: yellow;
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    color: #4253bf;
}
h2 {
    background-color: aquamarine;
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    color: #4253bf;
}
p{
    text-align: right;
    font-size: 1em;
    font-weight: 200;
    color: #bf4242;
    font-family: "Audiowide", sans-serif;
    display: block;
    width: 1250px;


}


table, th, td {

    background-color: aquamarine;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

nav, footer {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    margin: 2%;
}

section {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 2%;
}
@media screen and (max-width: 360px) {
    section{
        display: flex;
        flex-direction: column;
    }





}